<configuration>

  <packageSources>
    <add key="local" value="nuget-packages" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="Aspose.BarCode-Cloud" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
